&cdc_acm_uart0 { // For mikroros
    current-speed = <1000000>;
};

&usart1 {
    status = "disabled";
};

&usart3 {
    status = "okay";
    pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
    pinctrl-names = "default";
    current-speed = <1000000>;
};

/* For input event codes used by futaba,sbus */
#include <zephyr/dt-bindings/input/input-event-codes.h>

&usart2 {
    status = "okay";
    pinctrl-0 = <&usart2_rx_pa3>;
    current-speed = <100000>;
    parity = "even";
    stop-bits = "2";
    rx-invert;

    sbus0: sbus {
        compatible = "futaba,sbus";
        status = "okay";
        ch1_steer: ch1 {
            channel = <1>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_X>;
        };
        ch2_throttle: ch2 {
            channel = <2>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_Y>;
        };
        ch4_diff_button: ch4 {
            channel = <4>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_Z>;
        };
        ch5_override: ch5 {
            channel = <5>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_RX>;
        };
        ch6_gear: ch6 {
            channel = <6>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_RY>;
        };
    };
};

&button4 {
    status = "disabled";
};

&i2c2 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    icm42670: icm42670@68 {
        compatible = "invensense,icm42670p";
        reg = <0x68>;
        gyro-hz = <800>;
        accel-hz = <800>;
        accel-fs = <8>;
        gyro-fs = <1000>;
        status = "disabled";
    };

    ism330dlc: ism330dlc@6b {
        compatible = "st,ism330dlc";
        reg = <0x6b>;
        accel-odr = <9>;
        accel-range = <8>;
        gyro-odr = <8>;
        gyro-range = <1000>;
        status = "okay";
    };

    ina3221: ina3221@40 {
        compatible = "ti,ina3221";
        reg = <0x40>;
        shunt-resistors = <4 8 8>;
        avg-mode = <1>;
        conv-time-bus = <2>;
        conv-time-shunt = <4>;
        status = "okay";
    };

    /* --- NEW: MCP9600 Thermocouple Amplifier --- */
    mcp9600: mcp9600@60 {
        compatible = "microchip,mcp9600";
        reg = <0x60>;
        status = "okay";
        /* alert-gpios = <&gpioX Y GPIO_ACTIVE_LOW>; */
    };
};

&i2c1 {
    status = "okay";
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    bq769x0: bq769x0@8 {
        compatible = "ti,bq769x0";
        reg = <0x08>;
        alert-gpios = <&gpiod 6 GPIO_ACTIVE_HIGH>;
        pchg-gpios = <&gpiod 2 GPIO_ACTIVE_HIGH>;
        status = "okay";
    };

    /* --- NEW: MCP4725 I2C DAC --- */
    mcp4725: mcp4725@60 {
        compatible = "microchip,mcp4725";
        reg = <0x60>;
        status = "okay";
        #io-channel-cells = <1>;
    };

    /* --- NEW: INA238 monitors (aux load + fan) --- */
    ina238_aux: ina238_aux@40 {
        compatible = "ti,ina237";
        reg = <0x40>;
        status = "okay";
        current-lsb-microamps = <214>; /* ~7 A span */
        rshunt-micro-ohms = <15000>;
    };

    ina238_fan: ina238_fan@41 {
        compatible = "ti,ina237";
        reg = <0x41>;
        status = "okay";
        current-lsb-microamps = <62>; /* ~2 A span */
        rshunt-micro-ohms = <15000>;
    };
};

&spi1 {
    status = "disabled";
};

&gpiod {
    imu_cs_hold: imu_cs_hold {
        gpio-hog;
        gpios = <13 GPIO_ACTIVE_HIGH>;
        output-high;
    };
};

&gpioc {
    /* PC15 is routed to mikroBUS1 RST */
};

&iwdg {
    status = "okay";
};

#include <zephyr/dt-bindings/pwm/pwm.h>

&timers2 {
    status = "okay";
};

&timers4 {
    status = "okay";
    st,prescaler = <215>;
    pwm4: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim4_ch4_pb9>;
        pinctrl-names = "default";
    };
};

&timers3 {
    status = "okay";
    st,prescaler = <107>;
    pwm3: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim3_ch2_pb5>;
        pinctrl-names = "default";
    };
};

&timers9 {
    status = "okay";
    st,prescaler = <215>;
    pwm9: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim9_ch1_pe5 &tim9_ch2_pe6>;
        pinctrl-names = "default";
    };
};

&timers1 {
    status = "okay";
    st,prescaler = <215>;
    pwm1: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch4_pe14>;
        pinctrl-names = "default";
    };
};

&timers5 {
    status = "okay";
    st,prescaler = <215>;
    pwm5: pwm {
        compatible = "st,stm32-pwm";
        status = "okay";
        #pwm-cells = <3>;
        pinctrl-0 = <&tim5_ch3_pa2>;
        pinctrl-names = "default";
    };
};

#include <zephyr/dt-bindings/timer/stm32-timer.h>

 / {
    pcb {
        compatible = "bms";
        num-cells-max = <5>;
        num-thermistors-max = <0>;
        current-max = <30>;
        shunt-res = <4000>;
        type = "Powerboard 3.0";
        version-str = "svea-v0.1";
        version-num = <1>;
    };

    zephyr,user {
        ts1_wake_gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
        imu_reset_gpios = <&gpioc 15 GPIO_ACTIVE_LOW>;
        soc_button_gpios = <&gpioe 10 GPIO_ACTIVE_LOW>;
        imu_calib_button_gpios = <&gpioe 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
        esc_en_gpios = <&gpiod 6 (GPIO_OPEN_DRAIN | GPIO_ACTIVE_HIGH)>;
        wheel_left_gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
        wheel_right_gpios = <&gpioc 7 GPIO_ACTIVE_HIGH>;
    };

    throttleesc: throttle_esc {
        compatible = "pwm-servo";
        pwms = <&pwm9 2 10000000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };

    steeringservo: servo {
        compatible = "pwm-servo";
        pwms = <&pwm9 1 10000000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };

    gearservo: gear_servo {
        compatible = "pwm-servo";
        pwms = <&pwm4 4 10000000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };

    diffservo: diff_servo {
        compatible = "pwm-servo";
        pwms = <&pwm3 2 10000000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };

    diffservorear: diff_servo_rear {
        compatible = "pwm-servo";
        status = "okay";
        pwms = <&pwm5 3 10000000 PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(1000)>;
        max-pulse = <PWM_USEC(2100)>;
    };
};

 / {
    chosen {
        zephyr,console = &usart3;
        zephyr,shell-uart = &usart3;
    };

    aliases {
        imu = &ism330dlc;
        ina3221 = &ina3221;
        watchdog0 = &iwdg;
    };
};
